[submodule "Assets/2D/_Elunity"]
	path = Assets/2D/_Elunity
	url = git@github.com:Sedomanai/Common-2D-Elunity.git
[submodule "Assets/_Common"]
	path = Assets/_Common
	url = git@github.com:Sedomanai/Common-Elunity.git
